/* btn
  *@bootStrap css
  */
.btn { display: inline-block; *display:inline; *zoom:1; border: 1px solid transparent; border-radius: 4px; padding: 6px 12px; line-height: 1.42857143; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; touch-action: manipulation; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover,
  .btn:focus,
  .btn.focus { color: #333; text-decoration: none; }
.btn:active,
  .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn { cursor: not-allowed; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }
.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default { color: #333333; background-color: #f3f3f3; border-color: #adadad; }
.btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default { background-image: none; }
.btn-default.disabled,
  .btn-default[disabled],
  fieldset[disabled] .btn-default,
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default.focus,
  .btn-default.disabled:active,
  .btn-default[disabled]:active,
  fieldset[disabled] .btn-default:active,
  .btn-default.disabled.active,
  .btn-default[disabled].active,
  fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc; }
.btn-default .badge { color: #fff; background-color: #333; }
.btn-primary { color: #fff; background-color: #428bca; border-color: #357ebd; }
.btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary { color: #fff; background-color: #3071a9; border-color: #285e8e; }
.btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active { background-color: #428bca; border-color: #357ebd; }
.btn-primary .badge { color: #428bca; background-color: #fff; }
.btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.btn-success:hover,
  .btn-success:focus,
  .btn-success.focus,
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success { color: #ffffff; background-color: #449d44; border-color: #398439; }
.btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus,
  .btn-success[disabled].focus,
  fieldset[disabled] .btn-success.focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active { background-color: #5cb85c; border-color: #4cae4c; }
.btn-success .badge { color: #5cb85c; background-color: #ffffff; }
.btn-info { color: #ffffff; background-color: #5bc0de; border-color: #46b8da; }
.btn-info:hover,
  .btn-info:focus,
  .btn-info.focus,
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info { color: #ffffff; background-color: #31b0d5; border-color: #269abc; }
.btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info { background-image: none; }
.btn-info.disabled,
  .btn-info[disabled],
  fieldset[disabled] .btn-info,
  .btn-info.disabled:hover,
  .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover,
  .btn-info.disabled:focus,
  .btn-info[disabled]:focus,
  fieldset[disabled] .btn-info:focus,
  .btn-info.disabled.focus,
  .btn-info[disabled].focus,
  fieldset[disabled] .btn-info.focus,
  .btn-info.disabled:active,
  .btn-info[disabled]:active,
  fieldset[disabled] .btn-info:active,
  .btn-info.disabled.active,
  .btn-info[disabled].active,
  fieldset[disabled] .btn-info.active { background-color: #5bc0de; border-color: #46b8da; }
.btn-info .badge { color: #5bc0de; background-color: #ffffff; }
.btn-warning { color: #ffffff; background-color: #f0ad4e; border-color: #eea236; }
.btn-warning:hover,
  .btn-warning:focus,
  .btn-warning.focus,
  .btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning { color: #ffffff; background-color: #ec971f; border-color: #d58512; }
.btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning { background-image: none; }
.btn-warning.disabled,
  .btn-warning[disabled],
  fieldset[disabled] .btn-warning,
  .btn-warning.disabled:hover,
  .btn-warning[disabled]:hover,
  fieldset[disabled] .btn-warning:hover,
  .btn-warning.disabled:focus,
  .btn-warning[disabled]:focus,
  fieldset[disabled] .btn-warning:focus,
  .btn-warning.disabled.focus,
  .btn-warning[disabled].focus,
  fieldset[disabled] .btn-warning.focus,
  .btn-warning.disabled:active,
  .btn-warning[disabled]:active,
  fieldset[disabled] .btn-warning:active,
  .btn-warning.disabled.active,
  .btn-warning[disabled].active,
  fieldset[disabled] .btn-warning.active { background-color: #f0ad4e; border-color: #eea236; }
.btn-warning .badge { color: #f0ad4e; background-color: #ffffff; }
.btn-danger { color: #ffffff; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:hover,
  .btn-danger:focus,
  .btn-danger.focus,
  .btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger { color: #ffffff; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger { background-image: none; }
.btn-danger.disabled,
  .btn-danger[disabled],
  fieldset[disabled] .btn-danger,
  .btn-danger.disabled:hover,
  .btn-danger[disabled]:hover,
  fieldset[disabled] .btn-danger:hover,
  .btn-danger.disabled:focus,
  .btn-danger[disabled]:focus,
  fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled.focus,
  .btn-danger[disabled].focus,
  fieldset[disabled] .btn-danger.focus,
  .btn-danger.disabled:active,
  .btn-danger[disabled]:active,
  fieldset[disabled] .btn-danger:active,
  .btn-danger.disabled.active,
  .btn-danger[disabled].active,
  fieldset[disabled] .btn-danger.active { background-color: #d9534f; border-color: #d43f3a; }
.btn-danger .badge { color: #d9534f; background-color: #ffffff; }
.btn-link { color: #428bca; font-weight: normal; border-radius: 0; }
.btn-link,
  .btn-link:active,
  .btn-link.active,
  .btn-link[disabled],
  fieldset[disabled] .btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.btn-link,
  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active { border-color: transparent; }
.btn-link:hover,
.btn-link:focus { color: #2a6496; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover,
  fieldset[disabled] .btn-link:hover,
  .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:focus { color: #777777; text-decoration: none; }
/* btn size */  
.btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 6px; }
.btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-block { display: block; padding-left:0; padding-right:0; width: 100%; }
.btn-block + .btn-block { margin-top: 12px; }
input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block { width: 100%; }

/**
  * label
  * @FTsafe css
  * By Xiaocai
  */
.btn-label{ display:inline; padding:0.2em 0.6em; font-size:75%; font-weight:700; line-height:1; color:#FFF; text-align:center; white-space:nowrap; vertical-align:baseline; border-radius:0.25em; }
.label-default{ background-color:#fff; border:1px solid #ccc; color: #333; }
.label-primary{ background-color:#428bca; }
.label-success{ background-color:#02ce98; }
.label-info{ background-color:#5bc0de; }
.label-warning{ background-color:#ffcc99; }
.label-danger{ background-color:#ff9a99; }
.label-message{ background-color:#1fa4e2; }
.label-action{ background-color:#ff6733; }
.label-empty{ background-color:#fff; border:1px solid #fe6731; color:#fe6731; }
  
/**
  * btn 
  * @FTsafe css
  * By Xiaocai
  **/
.btn-message { color: #fff; background-color: #1fa4e2; border-color: #46b8da; }
.btn-message:hover,
  .btn-message:focus,
  .btn-message.focus,
  .btn-message:active,
  .btn-message.active,
  .open > .dropdown-toggle.btn-message { color: #fff; background-color: #098FCE; border-color: #269abc; }
.btn-message:active,
  .btn-message.active,
  .open > .dropdown-toggle.btn-message { background-image: none; }
.btn-message.disabled,
  .btn-message[disabled],
  fieldset[disabled] .btn-message,
  .btn-message.disabled:hover,
  .btn-message[disabled]:hover,
  fieldset[disabled] .btn-message:hover,
  .btn-message.disabled:focus,
  .btn-message[disabled]:focus,
  fieldset[disabled] .btn-message:focus,
  .btn-message.disabled.focus,
  .btn-message[disabled].focus,
  fieldset[disabled] .btn-message.focus,
  .btn-message.disabled:active,
  .btn-message[disabled]:active,
  fieldset[disabled] .btn-message:active,
  .btn-message.disabled.active,
  .btn-message[disabled].active,
  fieldset[disabled] .btn-message.active { background-color: #1fa4e2; border-color: #46b8da; }
.btn-message .badge { color: #31b0d5; background-color: #fff; }

.btn-action { color: #fff; background-color: #ff6733; border-color: #fd622e; }
.btn-action:hover,
  .btn-action:focus,
  .btn-action.focus,
  .btn-action:active,
  .btn-action.active,
  .open > .dropdown-toggle.btn-action { color: #fff; background-color: #EB5522; border-color: #ff6733; }
.btn-action:active,
  .btn-action.active,
  .open > .dropdown-toggle.btn-action { background-image: none; }
.btn-action.disabled,
  .btn-action[disabled],
  fieldset[disabled] .btn-action,
  .btn-action.disabled:hover,
  .btn-action[disabled]:hover,
  fieldset[disabled] .btn-action:hover,
  .btn-action.disabled:focus,
  .btn-action[disabled]:focus,
  fieldset[disabled] .btn-action:focus,
  .btn-action.disabled.focus,
  .btn-action[disabled].focus,
  fieldset[disabled] .btn-action.focus,
  .btn-action.disabled:active,
  .btn-action[disabled]:active,
  fieldset[disabled] .btn-action:active,
  .btn-action.disabled.active,
  .btn-action[disabled].active,
  fieldset[disabled] .btn-action.active { background-color: #ff6733; border-color: #fd622e; }
.btn-action .badge { color: #ff6733; background-color: #fff; }

.btn-solid { color: #000; background-color: #f7f7f7; border-color: #dadadb; }
.btn-solid:hover,
  .btn-solid:focus,
  .btn-solid.focus,
  .btn-solid:active,
  .btn-solid.active,
  .open > .dropdown-toggle.btn-solid { color: #333333; background-color: #f3f3f3; border-color: #adadad; }
.btn-solid:active,
  .btn-solid.active,
  .open > .dropdown-toggle.btn-solid { background-image: none; }
.btn-solid.disabled,
  .btn-solid[disabled],
  fieldset[disabled] .btn-solid,
  .btn-solid.disabled:hover,
  .btn-solid[disabled]:hover,
  fieldset[disabled] .btn-solid:hover,
  .btn-solid.disabled:focus,
  .btn-solid[disabled]:focus,
  fieldset[disabled] .btn-solid:focus,
  .btn-solid.disabled.focus,
  .btn-solid[disabled].focus,
  fieldset[disabled] .btn-solid.focus,
  .btn-solid.disabled:active,
  .btn-solid[disabled]:active,
  fieldset[disabled] .btn-solid:active,
  .btn-solid.disabled.active,
  .btn-solid[disabled].active,
  fieldset[disabled] .btn-solid.active { background-color: #ff6733; border-color: #fd622e; }
.btn-solid .badge { color: #ff6733; background-color: #fff; }

.btn-empty { color: #fe6731; background-color: #FFF; border-color: #fe6731; }
.btn-empty:hover,
  .btn-empty:focus,
  .btn-empty.focus,
  .btn-empty:active,
  .btn-empty.active,
  .open > .dropdown-toggle.btn-empty { color: #CE2307; background-color: #fff; border-color: #CE2307; box-shadow:inset 0 3px 5px rgba(251, 91, 36, 0.125); }
.btn-empty:active,
  .btn-empty.active,
  .open > .dropdown-toggle.btn-empty { background-image: none; box-shadow:inset 0 3px 5px rgba(251, 91, 36, 0.3); }
.btn-empty.disabled,
  .btn-empty[disabled],
  fieldset[disabled] .btn-empty,
  .btn-empty.disabled:hover,
  .btn-empty[disabled]:hover,
  fieldset[disabled] .btn-empty:hover,
  .btn-empty.disabled:focus,
  .btn-empty[disabled]:focus,
  fieldset[disabled] .btn-empty:focus,
  .btn-empty.disabled.focus,
  .btn-empty[disabled].focus,
  fieldset[disabled] .btn-empty.focus,
  .btn-empty.disabled:active,
  .btn-empty[disabled]:active,
  fieldset[disabled] .btn-empty:active,
  .btn-empty.disabled.active,
  .btn-empty[disabled].active,
  fieldset[disabled] .btn-empty.active { background-color: #fb5b24; border-color: #ff6637; }
.btn-empty .badge { color: #fb5b24; background-color: #fff; }

.btn-area{}
.btn-area .btn{ margin-right:8px; }
.btn-area .btn:last-child{ margin-right:0; }
.btn-area.b-a-l{ text-align:left; }
.btn-area.b-a-r{ text-align:right; }
.btn-area.b-a-r .btn{ margin-left:0; margin-right:12px; }
.btn-area.b-a-c{ text-align:center; }
.btn-area-block{ padding:0 2px 0 0; }
.btn-area.btn-area-block .btn{ margin-right:0; }
/* btn reset */
.btn[class*='ft-icon']{ text-decoration:none; outline:none; }
.btn.ft-icon-reset{ position:relative; overflow:hidden; }
.btn .btn-reset{ position:absolute; top:-10%; left:-2px; z-index:10; width:200%; height:200%; background:transparent; cursor:pointer; }

/* 宽按钮 */
.btn.btn-w-lg{ padding:6px 38px; }
.btn.btn-w{ padding:6px 22px; }
.btn.btn-sm-w{ padding:4px 22px; }
/* 直角按钮 */
.btn.btn-angle{ border-radius:0; }
/* 文件上传 */
.btn-area-upfile{ overflow:hidden; }
.btn-area-upfile .check-file{ xxposition:absolute; xxright:-8px; xxbottom:-8px; margin:-36px 0 0 -800px; font-size:90px; filter:Alpha(Opacity=0);opacity:0;}

.btn .iconfont{ line-height:1; }
.btn[class*="ft-icon"]:before{ margin-right:2px; display:inline-block; vertical-align:middle; font-size:14px;line-height:1; }
.btn.ft-icon-plus:before{ margin-top:-2px; font-size:12px; }
.btn.ft-icon-search:before{ margin-top:-4px; }

/* btn group */
.btn-group{ border:1px solid #dadadb; background:#f7f7f7; }
.btn-group .btn{ margin:0; border:0; border-radius:0; padding-left:0; padding-right:0; width:49.6%; }
.btn-group .btn:first-child{ border-right:1px solid #dadadb; }
