.icon-cus {
    display: inline-block;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
}

/*
    name        device-width
    lg          400+
    def         360
    sm          320
*/


.icon-cus.icon-bot {
    background-image: url(../images/base/bot_bar01.png);
    height:31px
}

.icon-cus.icon-bot-hover {
    background-image: url(../images/base/bot_bar01_hover.png);
}

.icon-cus.icon-list {
    background-image: url(../images/base/bot_bar02.png);
}

.icon-cus.icon-list-hover {
    background-image: url(../images/base/bot_bar02_hover.png);
}

.icon-cus.icon-matrix {
    background-image: url(../images/base/list_cat01.png);
}

.icon-cus.icon-position {
    background-image: url(../images/base/bot_bar03.png);
    height:29px
}

.icon-cus.icon-user {
    background-image: url(../images/base/bot_bar04.png);
}

.icon-cus.icon-user-hover {
    background-image: url(../images/base/signin_tel.png);
}

.icon-cus.icon-lock {
    background-image: url(../images/base/signin_code.png);
    height:34px
}

.icon-cus.icon-like {
    background-image: url(../images/base/clicklike.png);
}

.icon-cus.icon-close {
    background-image: url(../images/base/close_icon.png);
}

.icon-cus.icon-weichart {
    background-image: url(../images/base/thirdsignin_01.png);
}

.icon-cus.icon-qq {
    background-image: url(../images/base/thirdsignin_02.png);
}

.icon-cus.icon-weibo {
    background-image: url(../images/base/thirdsignin_03.png);
}

.icon-cus.icon-ttwg {
    background-image: url(../images/base/word_pic.png);
    width: 94px;
    height: 21px;
}

.icon-cus.icon-favor{
    background-image: url(../images/base/likeit.png);
}

